src/test/resources/stuff.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:apikit-badrequest-extractor="http://www.mulesoft.org/schema/mule/apikit-badrequest-extractor"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/apikit-badrequest-extractor http://www.mulesoft.org/schema/mule/apikit-badrequest-extractor/1.0/mule-apikit-badrequest-extractor.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081"
                          doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="stuff.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="api-main-with-strategy">
        <http:listener config-ref="api-httpListenerConfig" path="/apis/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="post:/test:application/json:api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>

    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="400">
            <apikit:exception
                    value="org.mule.module.apikit.exception.BadRequestException" />
            <apikit-badrequest-extractor:parse doc:name="Parse APIKit Bad Request Message"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
